<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes</title>
  </head>
  <body>
    <div class="heading">
      <h1>Quotes for Life</h1>
    </div>
    <div class="quote-detail" >
      <ul>
        <li *ngFor="let quote of quotes; let i = index">
          <p appManyVotes ><span class="quote">The Quote: </span>{{ quote.quote }}</p>
          <app-quote-details
            [quote]="quote"
            (isComplete)="deleteQuotes($event,i)"
            (upVotes)="voteMore($event,i)"
            (downVotes)="voteLess($event,i)"
          ></app-quote-details>
          <hr />
        </li>
      </ul>
    </div>
    <app-quote-form (addQuote)="moreQuotes($event)"></app-quote-form>
    <div class="footer">
      <p>Contact: machayoephraim@gmail.com</p>
      <p>Happy living</p>
      <p>copyright 2022</p>
    </div>
  </body>
</html>

