.heading{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    padding: 1%;
}

.quote {
    font-weight: bolder;
}

.quote-detail {
    margin: 3%;
    background-color: white;
}

.footer {
    margin-top: 1rem;
    padding: 5%;
    background-color: yellow;
}