.heading{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
    padding: 1%;
}

.quote {
    font-weight: bolder;
}

.quote-detail {
    margin: 3%;
    background-color: white;
}